@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for that 'High-Tech' Console look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full border-2 border-slate-950;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}
